version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: myprojectdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: bacbon

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
    depends_on:
      - db
    entrypoint: /app/entrypoint.sh

volumes:
  postgres_data: